<h1>{{ title }}</h1>
<!-- {{ ... }} - interpolation -->
<p>{{ getInfo() }}</p>
<p>{{ message }}</p>
<p>Math operation: {{ 2 + 2 }}</p>
<p>Math operation with method: {{ 2 + 2 + number }}</p>
<p>Interpolation from object: {{ dog.nickname }} (dog's name)</p>

<h2>Property binding - []="..."</h2>
<input [value]="title1" />

<h2>Event binding - (event) = "()"</h2>
<button (click)="(number)">Change number if you wish so</button>

<h2>The most fun thing to do: two-way binding</h2>
<input [(ngModel)]="title" />
<p>Adolf Hitler once said: "{{ title }}"</p>

<hr />
<h2>Conditionals in angular</h2>
<div *ngIf="number > 7; else smaller">{{ number }} is bigger than 7</div>
<ng-template #smaller> {{ number }} is not bigger than 7 </ng-template>

<h3>Is this number dividable by 7?</h3>
<div>Number to check: <input [(ngModel)]="numToCheck" /></div>
<div
  *ngIf="isDividable(numToCheck, 7); then isDivTempl; else isNotDivTempl"
></div>
<ng-template #isDivTempl> Yes it absolutely is </ng-template>
<ng-template #isNotDivTempl> No it isn't, you stupid schmock </ng-template>

<hr />
<h2>*ngFor loop</h2>
<ul>
  <li *ngFor="let number of [2, 1, 3, 7, 4, 2, 0, 6, 9]">{{ number }}</li>
</ul>
<ul>
  <li *ngFor="let number of [2, 1, 3, 7, 4, 2, 0, 6, 9]; let i = index">
    [{{ i }}] {{ number }}
  </li>
</ul>

<div *ngFor="let number of [0, 6, 7, 8]; let i = index; let isEven = even">
  [{{ i }}] {{ number }}
  <span *ngIf="isEven">(even)</span>
</div>

<p>
  licznik w pętli
  <li *ngFor="let number of counter(10); let i = index">{{ i }}</li>
  <!-- we created an empty array with length of 10 and then read every index in it -->
</p>

<div>
  funny grid of given size
  <table border="1">
    <tbody>
      <tr *ngFor="let rows of counter(6); let row = index">
        <td *ngFor="let columns of counter(9); let column = index">
          {{ (row + 1) * (column + 1) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr />
<h2>NgSwitch</h2>

<div [ngSwitch]="group">
  <p *ngSwitchCase="'nazi'">Heil!</p>
  <p *ngSwitchCase="'communist'">Привет товарищи!</p>
  <p *ngSwitchCase="'narodowcy'">Chwała wielkiej Polsce!</p>
  <p *ngSwitchDefault>Welcome strangers</p>
</div>

<hr />
<h2>NgForm</h2>
<app-template-driven-form></app-template-driven-form>
<hr />
<h2>Reactive froms</h2>
<app-name-editor></app-name-editor>
<app-profile-editor></app-profile-editor>
<hr />
<app-address-details></app-address-details>
<hr />
<app-address-other></app-address-other>
