<h1>{{ title }}</h1>
<!-- {{ ... }} - interpolation -->
<p>{{ getInfo() }}</p>
<p>{{ message }}</p>
<p>Math operation: {{ 2 + 2 }}</p>
<p>Math operation with method: {{ 2 + 2 + number }}</p>
<p>Interpolation from object: {{ dog.nickname }} (dog's name)</p>

<h2>Property binding - []="..."</h2>
<input [value]="title1" />

<h2>Event binding - (event) = "()"</h2>
<button (click)="(number)">Change number if you wish so</button>

<h2>The most fun thing to do: two-way binding</h2>
<input [(ngModel)]="title" />
<p>Adolf Hitler once said: "{{ title }}"</p>

<h2>Conditionals in angular</h2>
<div *ngIf="number > 7; else smaller">{{ number }} is bigger than 7</div>
<ng-template #smaller> {{ number }} is not bigger than 7 </ng-template>

<h3>Is this number dividable by 7?</h3>
<div>Number to check: <input [(ngModel)]="numToCheck" /></div>
<div
  *ngIf="isDividable(numToCheck, 7); then isDivTempl; else isNotDivTempl"
></div>
<ng-template #isDivTempl> Yes it absolutely is </ng-template>
<ng-template #isNotDivTempl> No it isn't, you stupid schmock </ng-template>
